#create {
display:inline;
float:right;
}

#submit {
display:inline;
}

.confirm {
	background-color: #fcc;
}

.valid {
	background-color: #cfc;
}

.confirm .valid {
	background-color: #ccc;
}

#invalid {
	color: #f44;
}