#create {
display:inline;
float:right;
}

#submit {
display:inline;
}

.confirm {
	background-color: #fcc;
}

.valid {
	background-color: #cfc;
}

.confirm .valid {
	background-color: #ccc;
}

#invalid {
	color: #f44;
}

.login-facebook {
	color: #fff;
	background-color: #3b5998;
	border-color: rgba(0,0,0,0.2);
	position: relative;
	margin-bottom: 20px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}