html, body {
    height: 100%;
    width: 100%;
}
body {
    padding-top: 70px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.container-table {
    display: table;
    height: 80%;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.glyphicon {
    font-size: 16px;
}
.search-results {
    height: 90%;
    font-size: 14px;
}

.results-module-wrapper {
    border-width: 1px;
    border-style: solid;
    margin-top: 10%;
}