.updoot {
text-align: center;
padding-left: 0px;
padding-right: 0px;
}

.old-question {
display: inline;
}

.time-ago {
text-align: center;
font-size: 8px;
}

.ansHead {
font-weight: Bold;
margin-left: -40px;
}

.ansBody {
margin-bottom: 20px;
}

.question-box {
margin-bottom: 5px;
}